<div class="form-control">
  <label class="label"><span class="label-text">How old are you?</span></label>
  <div class="my-4">
    <%= f.number_field :age, class: "input input-bordered w-full" %>
  </div>
</div>
