<div class="form-control">
  <label class="label"><span class="label-text">Tell me something about yourself</span></label>
  <div class="my-4">
    <%= f.text_area :bio, class: "textarea textarea-bordered h-20 w-full" %>
  </div>
</div>
