<div class="form-control">
  <label class="label"><span class="label-text">What city do you live in?</span></label>
  <div class="my-4">
    <%= f.text_field :city, class: "input input-bordered w-full" %>
  </div>
</div>
