<div class="form-control">
  <label class="label"><span class="label-text">What's your name?</span></label>
  <div class="my-4">
    <%= f.text_field :name, class: "input input-bordered w-full" %>
  </div>
</div>
