<div class="form-control">
  <label class="label"><span class="label-text">What is your phone number?</span></label>
  <div class="my-4">
    <%= f.telephone_field :phone, class: "input input-bordered w-full" %>
  </div>
</div>
